<div class="w-full">
    <div class="flex flex-wrap gap-5 justify-start">
        <div>
            <app-donut-chart
                title="Sugar"
                [recommendedValue]="userNutritionConstants.SUGAR"
                [actualValue]="userSugar()"
            >
            </app-donut-chart>
        </div>

        <!-- <div>
            <app-donut-chart


                title="Sugar"
                [recommendedValue]="userNutritionConstants.SUGAR"
                [actualValue]="userSugar()"

                [height]="400"
                [width]="400"
            >
            </app-donut-chart>
        </div> -->
    </div>
</div>
