<div class="w-full h-2/5 px-2 p-4">

    <mat-card appearance="outlined" class="p-2">
        <div class="flex gap-10 items-end">
            <div class="flex gap-5 p-2">
                <input type="file" (change)="onFileSelected($event)" accept="image/*" #fileInput hidden />

                <button mat-raised-button color="primary" (click)="fileInput.click()">Choose File</button>

                @if (imageSrc()) {
                    <button mat-flat-button color="primary" (click)="onDeletePhoto()">
                        Delete Photo
                    </button>
                }

            </div>

            @if (imageSrc()) {
                <div class="w-[500px] max-w-[300px] p-4">
                    <img class="object-cover rounded-xl" [src]="imageSrc()" alt="Uploaded Image"/>
                </div>
            }
        </div>
    </mat-card>

</div>
