<div class="w-full">
    <div class="w-full p-4 flex justify-between gap-5">
        <!-- @for (userFood of userFoodIntake(); track userFood) {
            <h1>{{userFood.food_name}}</h1>

            <button mat-flat-button color="primary">Serving Qty: {{ userFood.serving_qty }}</button>
            <button mat-button>Serving Unit: {{ userFood.serving_unit }}</button>
            <button mat-button>Calories: {{ userFood.nf_calories }}</button>
            <button mat-button>Weight: {{ userFood.serving_weight_grams }}g</button>
            <button mat-button>Total Fat: {{ userFood.nf_total_fat }}g</button>
            <button mat-button>Cholesterol: {{ userFood.nf_cholesterol }}mg</button>
            <button mat-button>Sodium: {{ userFood.nf_sodium }}mg</button>
            <button mat-button>Carbohydrates: {{ userFood.nf_total_carbohydrate }}g</button>
            <button mat-button>Dietary Fiber: {{ userFood.nf_dietary_fiber }}g</button>
            <button mat-button>Sugars: {{ userFood.nf_sugars }}g</button>
            <button mat-button>Protein: {{ userFood.nf_protein }}g</button>
            <button mat-button>Potassium: {{ userFood.nf_potassium }}mg</button>
        }
        <br> -->

        <div class="w-[35%]">
            <app-users-food-intake-list></app-users-food-intake-list>
        </div>
        <div class="w-[65%]">
            <app-users-food-chart></app-users-food-chart>
        </div>
    </div>
</div>

