@if (selectedFood) {
    <div class="w-full">
        <mat-card appearance="outlined" class="p-2">
            <mat-card-header>
                <h1 class="text-3xl font-medium capitalize">{{selectedFood.food_name}}</h1>
            </mat-card-header>

            <mat-divider class="!mt-2"></mat-divider>

            <mat-card class="m-4">
                <mat-card-content>
                    There are
                    <span class="font-semibold">
                        {{selectedFood.nf_calories}} calories
                    </span>
                    in
                    <span>
                        {{selectedFood.serving_qty}} {{selectedFood.serving_unit}}
                    </span>
                    <span>
                        {{selectedFood.food_name}}.
                    </span>
                </mat-card-content>
            </mat-card>

            <mat-card-content>
                <div class="flex flex-col w-full mt-4">
                    <div>
                        <h1 class="font-semibold text-xl">Nutrition Facts</h1>
                    </div>

                    <mat-divider class="!my-2"></mat-divider>

                    <div>
                        <div class="flex justify-between px-2">
                            <h2 class="font-medium">Serving Size</h2>

                            <div class="flex justify-center items-center gap-4">
                                <button mat-icon-button class="!bg-blue-500 !text-white">
                                    <mat-icon>remove</mat-icon>
                                </button>
                                <h2>{{selectedFood.serving_qty}} {{selectedFood.serving_unit}}</h2>
                                <button mat-icon-button  class="!bg-blue-500 !text-white">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>

                    <mat-divider class="!my-2"></mat-divider>

                    <h2 class="font-medium text-sm">Amount Per Serving</h2>

                    <div>
                        <div class="flex justify-between px-2">
                            <h2 class="font-semibold text-xl">Calories</h2>
                            <h2>{{selectedFood.nf_calories}}</h2>
                        </div>
                    </div>

                    <mat-divider class="!my-2"></mat-divider>

                    <div>
                        <div class="flex justify-between px-2">
                            <h2 class="font-medium">Total Fat</h2>
                            <h2>{{selectedFood.nf_total_fat}}</h2>
                        </div>
                    </div>

                    <mat-divider class="!my-2"></mat-divider>

                    <div>
                        <div class="flex justify-between px-2">
                            <h2 class="font-medium">Cholesterol</h2>
                            <h2>{{selectedFood.nf_cholesterol}}mg</h2>
                        </div>
                    </div>

                    <mat-divider class="!my-2"></mat-divider>

                    <div>
                        <div class="flex justify-between px-2">
                            <h2 class="font-medium">Soduim</h2>
                            <h2>{{selectedFood.nf_sodium}}mg</h2>
                        </div>
                    </div>

                    <mat-divider class="!my-2"></mat-divider>

                    <div>
                        <div class="flex justify-between px-2">
                            <h2 class="font-medium">Total Carbohydrates</h2>
                            <h2>{{selectedFood.nf_total_carbohydrate}}g</h2>
                        </div>
                    </div>

                    <mat-divider class="!my-2"></mat-divider>

                    <div>
                        <div class="flex justify-between px-2">
                            <h2 class="font-medium">Dietary Fiber</h2>
                            <h2>{{selectedFood.nf_dietary_fiber}}g</h2>
                        </div>
                    </div>

                    <mat-divider class="!my-2"></mat-divider>

                    <div>
                        <div class="flex justify-between px-2">
                            <h2 class="font-medium">Sugar</h2>
                            <h2>{{selectedFood.nf_sugars}}g</h2>
                        </div>
                    </div>

                    <mat-divider class="!my-2"></mat-divider>

                    <div>
                        <div class="flex justify-between px-2">
                            <h2 class="font-medium">Protein</h2>
                            <h2>{{selectedFood.nf_protein}}g</h2>
                        </div>
                    </div>

                </div>

            </mat-card-content>
        </mat-card>
    </div>
}
