<p>food-nutrition-list works!</p>

@if (imageTags()) {
    @for (tag of imageTags(); track tag) {
        <h1>{{tag.tag.en}}</h1>
    }
}

<h1>
    food-nutrition-list works!
    <br>

    loaf of bread
    <br>

    bread
    <br>

    food
    <br>

    baked goods
    <br>

    <br>baked
    <br>bakery
    <br>breakfast
    <br>loaf
    <br>meal
    <br>wheat
    <br>
</h1>

<h1>
    food-nutrition-list works!
    <br>

    loaf of bread
    <br>

    bread
    <br>

    food
    <br>

    baked goods
    <br>

    <br>baked
    <br>bakery
    <br>breakfast
    <br>loaf
    <br>meal
    <br>wheat
    <br>
</h1>

<button (click)="clickme()" mat-raised-button>try </button>

<div>
                @for (food of foodItem; track food) {
                    <h1>{{food.food_name}}</h1>

                    <button mat-flat-button color="primary">Serving Qty: {{ food.serving_qty }}</button>
                    <button mat-button>Serving Unit: {{ food.serving_unit }}</button>
                    <button mat-button>Calories: {{ food.nf_calories }}</button>
                    <button mat-button>Weight: {{ food.serving_weight_grams }}g</button>
                    <button mat-button>Total Fat: {{ food.nf_total_fat }}g</button>
                    <button mat-button>Cholesterol: {{ food.nf_cholesterol }}mg</button>
                    <button mat-button>Sodium: {{ food.nf_sodium }}mg</button>
                    <button mat-button>Carbohydrates: {{ food.nf_total_carbohydrate }}g</button>
                    <button mat-button>Dietary Fiber: {{ food.nf_dietary_fiber }}g</button>
                    <button mat-button>Sugars: {{ food.nf_sugars }}g</button>
                    <button mat-button>Protein: {{ food.nf_protein }}g</button>
                    <button mat-button>Potassium: {{ food.nf_potassium }}mg</button>
                }
            </div>
