<div class="w-full h-full flex justify-center">
    <div class="w-[95%] h-full p-5">
        <div class="">
            <app-imagga-tagger></app-imagga-tagger>
        </div>

        <div class=" h-full p-5  flex justify-between">
            <div class="md:w-[35%] xs:w-full">
                <app-food-nutrition-list></app-food-nutrition-list>
            </div>
            <div class="md:w-[55%] xs:w-full">
                <app-food-nutrition-details></app-food-nutrition-details>
            </div>


            <!-- <div>
                @for (food of foodItem; track food) {
                    <h1>{{food.food_name}}</h1>

                    <button mat-flat-button color="primary">Serving Qty: {{ food.serving_qty }}</button>
                    <button mat-button>Serving Unit: {{ food.serving_unit }}</button>
                    <button mat-button>Calories: {{ food.nf_calories }}</button>
                    <button mat-button>Weight: {{ food.serving_weight_grams }}g</button>
                    <button mat-button>Total Fat: {{ food.nf_total_fat }}g</button>
                    <button mat-button>Cholesterol: {{ food.nf_cholesterol }}mg</button>
                    <button mat-button>Sodium: {{ food.nf_sodium }}mg</button>
                    <button mat-button>Carbohydrates: {{ food.nf_total_carbohydrate }}g</button>
                    <button mat-button>Dietary Fiber: {{ food.nf_dietary_fiber }}g</button>
                    <button mat-button>Sugars: {{ food.nf_sugars }}g</button>
                    <button mat-button>Protein: {{ food.nf_protein }}g</button>
                    <button mat-button>Potassium: {{ food.nf_potassium }}mg</button>
                }
            </div> -->
        </div>




    </div>

</div>

